.divEquipe{
    flex: 1;
    display: flex;
    flex-direction: row;
    margin-left: 50px;
    margin-right: 50px;
    justify-content: space-around;
}

.divCardFoto1{
    -ms-transform: rotate(-10deg); /* IE 9 */
    transform: rotate(-10deg);
    padding-bottom: 50px;
    margin-top: 50px;
    border: 2px solid black;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 50px;
}

.divCardFoto2{
    -ms-transform: rotate(10deg); /* IE 9 */
    transform: rotate(10deg);
    padding-bottom: 50px;
    margin-top: 50px;
    border: 2px solid black;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 50px;
}

.imgCard{
    height: 250px;
}

.divCarouselEquipe2{
    display: none;
}

.imgHistoria{
    width: 100%;
    margin-top: 150px;
}

.divMissao{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 150px;
}

.textMissao{
    font-family:'Niramit', sans-serif;; 
    font-size: 18px; 
    align-self: center;
}

.textFaleConosco{
    font-family: 'Lalezar', cursive; 
    font-size: 40px; 
    margin-bottom: 50px;
    color: #060606;
}

.btnFaleConosco{
    border-radius: 15px;
    box-shadow: 0px 5px 15px #FFFDFD;
    font-weight: 600;
    background-color: #F9AF1B;
    align-self: flex-end;
}


.btnBodyActions:hover{
    background-color: #FFDC97!important;
    border-color: #FFDC97!important;
}

.btnBodyActions:active{
    background-color: #B07D17!important;
}

@media only screen and (max-width: 988px){
    .divCarouselEquipe1{
        display: none;
    }

    .divCarouselEquipe2{
        display: block;
    }

    .divCardFoto1{
        width: 300px;
    }
    
    .divCardFoto2{
        width: 300px;
    }

    .divMissao{
        flex-direction: column;
        align-items: center;
        margin-top: 50px;
    }

    .imgMissao{
        width: 90%;
    }

    .textFaleConosco{
        font-size: 27px;
    }

}